Repository VenusProtocol/isolated-pools, pull requests merged in 2024-06, with the labels that each got.

#405 [VEN-2505]: Deployments of IL on Arbitrum One
  deployments/arbitrumone.json
  deployments/arbitrumone/ComptrollerBeacon.json
  deployments/arbitrumone/ComptrollerImpl.json
  deployments/arbitrumone/Comptroller_Core.json
  deployments/arbitrumone/DefaultProxyAdmin.json
  deployments/arbitrumone/JumpRateModelV2_base0bps_slope1500bps_jump25000bps_kink4500bps.json
  deployments/arbitrumone/JumpRateModelV2_base0bps_slope350bps_jump25000bps_kink8000bps.json
  deployments/arbitrumone/JumpRateModelV2_base0bps_slope875bps_jump25000bps_kink8000bps.json
  deployments/arbitrumone/PoolRegistry.json
  deployments/arbitrumone/PoolRegistry_Implementation.json
  deployments/arbitrumone/PoolRegistry_Proxy.json
  deployments/arbitrumone/VTokenBeacon.json
  deployments/arbitrumone/VTokenImpl.json
  deployments/arbitrumone/VToken_vARB_Core.json
  deployments/arbitrumone/VToken_vUSDC_Core.json
  deployments/arbitrumone/VToken_vUSDT_Core.json
  deployments/arbitrumone/VToken_vWBTC_Core.json
  deployments/arbitrumone/VToken_vWETH_Core.json
  deployments/arbitrumone/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  deployments/arbitrumone/solcInputs/6908ef056fe5b90d510a922d922ed1be.json
  deployments/arbitrumone_addresses.json
  hardhat.config.ts
  helpers/deploymentConfig.ts
  package.json
  yarn.lock
Labels: arbitrum one

#406 [VEN-2510]: Deployment of NTG on Arbitrum One
  deploy/018-native-token-gateway.ts
  deployments/arbitrumone.json
  deployments/arbitrumone/NativeTokenGateway_vWETH_Core.json
  deployments/arbitrumone_addresses.json
Labels: arbitrum one

#413 [VEN-2639]: add rsETH market on sepolia &Ethereum
  deployments/ethereum.json
  deployments/ethereum/JumpRateModelV2_base0bps_slope900bps_jump30000bps_kink4500bps.json
  deployments/ethereum/VToken_vrsETH_LiquidStakedETH.json
  deployments/ethereum/solcInputs/2040335765422e1de87160c828624fdd.json
  deployments/ethereum_addresses.json
  deployments/sepolia.json
  deployments/sepolia/JumpRateModelV2_base0bps_slope900bps_jump30000bps_kink4500bps.json
  deployments/sepolia/MockrsETH.json
  deployments/sepolia/VToken_vrsETH_LiquidStakedETH.json
  deployments/sepolia/solcInputs/2040335765422e1de87160c828624fdd.json
  deployments/sepolia_addresses.json
  helpers/deploymentConfig.ts
Labels: sepolia, ethereum

#414 [VEN-2643]: Deployment on RewardsDistributor on Arbitrum One
  deployments/arbitrumone.json
  deployments/arbitrumone/RewardsDistributorImpl.json
  deployments/arbitrumone/RewardsDistributor_Core_0.json
  deployments/arbitrumone/RewardsDistributor_Core_0_Proxy.json
  deployments/arbitrumone_addresses.json
  helpers/deploymentConfig.ts
Labels: arbitrum one

#403 [VEN-2580] Add Market sfrxETH
  deployments/ethereum.json
  deployments/ethereum/JumpRateModelV2_base0bps_slope900bps_jump30000bps_kink4000bps.json
  deployments/ethereum/VToken_vsfrxETH_LiquidStakedETH.json
  deployments/ethereum_addresses.json
  deployments/sepolia.json
  deployments/sepolia/JumpRateModelV2_base0bps_slope900bps_jump30000bps_kink4000bps.json
  deployments/sepolia/MocksfrxETH.json
  deployments/sepolia/VToken_vsfrxETH_LiquidStakedETH.json
  deployments/sepolia/solcInputs/3c20dc65cc123659b5918437b44f9306.json
  deployments/sepolia_addresses.json
  helpers/deploymentConfig.ts
Labels: ethereum
