Repository VenusProtocol/isolated-pools, pull requests merged in 2024-09, with the labels that each got.

#431 [VEN-2713]: Deploy Liquid Staked ETH pool to arbitrum one
  deploy/018-native-token-gateway.ts
  deployments/arbitrumone.json
  deployments/arbitrumone/Comptroller_Liquid Staked ETH.json
  deployments/arbitrumone/JumpRateModelV2_base0bps_slope350bps_jump8000bps_kink8000bps.json
  deployments/arbitrumone/JumpRateModelV2_base0bps_slope900bps_jump30000bps_kink4500bps.json
  deployments/arbitrumone/NativeTokenGateway_vWETH_LiquidStakedETH.json
  deployments/arbitrumone/RewardsDistributor_Liquid Staked ETH_0.json
  deployments/arbitrumone/RewardsDistributor_Liquid Staked ETH_0_Proxy.json
  deployments/arbitrumone/VToken_vWETH_LiquidStakedETH.json
  deployments/arbitrumone/VToken_vweETH_LiquidStakedETH.json
  deployments/arbitrumone/VToken_vwstETH_LiquidStakedETH.json
  deployments/arbitrumone/solcInputs/3688ad0b9c5aa96bd2e711a0711cac24.json
  deployments/arbitrumone/solcInputs/f19e9b26ca460fe9447e7bfb55670b9d.json
  deployments/arbitrumone_addresses.json
  deployments/arbitrumsepolia.json
  deployments/arbitrumsepolia/NativeTokenGateway_vWETH_LiquidStakedETH.json
  deployments/arbitrumsepolia/solcInputs/3688ad0b9c5aa96bd2e711a0711cac24.json
  deployments/arbitrumsepolia_addresses.json
  helpers/deploymentConfig.ts
Labels: arbitrum one

#433 [VEN-2745]: Deployments of NTG on Zksync mainnet
  deploy/018-native-token-gateway.ts
  deployments/zksyncmainnet.json
  deployments/zksyncmainnet/NativeTokenGateway_vWETH_Core.json
Labels: zkSync

#435 [VEN-2727] [VEN-2728] Deployment files of the Core pool and NTG on OP sepolia
  .env.example
  .github/workflows/ci.yaml
  deploy/018-native-token-gateway.ts
  deployments/opmainnet.json
  deployments/opmainnet_addresses.json
  deployments/opsepolia.json
  deployments/opsepolia/.chainId
  deployments/opsepolia/ComptrollerBeacon.json
  deployments/opsepolia/ComptrollerImpl.json
  deployments/opsepolia/Comptroller_Core.json
  deployments/opsepolia/DefaultProxyAdmin.json
  deployments/opsepolia/JumpRateModelV2_base0bps_slope750bps_jump25000bps_kink8000bps.json
  deployments/opsepolia/JumpRateModelV2_base0bps_slope900bps_jump30000bps_kink4500bps.json
  deployments/opsepolia/MockOP.json
  deployments/opsepolia/MockUSDC.json
  deployments/opsepolia/MockUSDT.json
  deployments/opsepolia/MockWBTC.json
  deployments/opsepolia/NativeTokenGateway_vWETH_Core.json
  deployments/opsepolia/PoolLens.json
  deployments/opsepolia/PoolRegistry.json
  deployments/opsepolia/PoolRegistry_Implementation.json
  deployments/opsepolia/PoolRegistry_Proxy.json
  deployments/opsepolia/VTokenBeacon.json
  deployments/opsepolia/VTokenImpl.json
  deployments/opsepolia/VToken_vOP_Core.json
  deployments/opsepolia/VToken_vUSDC_Core.json
  deployments/opsepolia/VToken_vUSDT_Core.json
  deployments/opsepolia/VToken_vWBTC_Core.json
  deployments/opsepolia/VToken_vWETH_Core.json
  deployments/opsepolia/solcInputs/4285c9f16f78273c36b9b2af1814afdc.json
  deployments/opsepolia_addresses.json
  hardhat.config.ts
  helpers/deploymentConfig.ts
Labels: OP sepolia

#440 [VEN-2735] Add reward distributor to Core pool on OP sepolia
  deployments/opsepolia.json
  deployments/opsepolia/RewardsDistributorImpl.json
  deployments/opsepolia/RewardsDistributor_Core_0.json
  deployments/opsepolia/RewardsDistributor_Core_0_Proxy.json
  deployments/opsepolia/solcInputs/7a28e95a7186e06cde14ca21a979d10b.json
  deployments/opsepolia_addresses.json
  helpers/deploymentConfig.ts
Labels: OP sepolia

#441 [VEN-2752]: Rewards distributor on zksync mainnet
  deployments/zksyncmainnet.json
  deployments/zksyncmainnet/RewardsDistributorImpl.json
  deployments/zksyncmainnet/RewardsDistributor_Core_0.json
  deployments/zksyncmainnet/RewardsDistributor_Core_0_Proxy.json
  deployments/zksyncmainnet_addresses.json
  helpers/deploymentConfig.ts
Labels: zkSync
