Repository VenusProtocol/isolated-pools, pull requests merged in 2024-01, with the labels that each got.

#342 [VEN-2275] New Comptroller and VToken Impls deployed to Sepolia
  deployments/sepolia.json
  deployments/sepolia/ComptrollerImpl.json
  deployments/sepolia/VTokenImpl.json
  deployments/sepolia/solcInputs/37e5c730fd6581d6b1bac08b3a239d9b.json
  deployments/sepolia_addresses.json
Labels: multichain, sepolia

#341 [VEN-2256]: upgrade the impl of vtokens and comptroller
  deployments/opbnbtestnet.json
  deployments/opbnbtestnet/ComptrollerImpl.json
  deployments/opbnbtestnet/VTokenImpl.json
  deployments/opbnbtestnet/solcInputs/37e5c730fd6581d6b1bac08b3a239d9b.json
  deployments/opbnbtestnet_addresses.json
  package.json
  yarn.lock
Labels: multichain, opBNB

#344 [VEN-2183] Markets Deployment
  deployments/ethereum.json
  deployments/ethereum/.chainId
  deployments/ethereum/ComptrollerBeacon.json
  deployments/ethereum/ComptrollerImpl.json
  deployments/ethereum/Comptroller_Core.json
  deployments/ethereum/Comptroller_Curve.json
  deployments/ethereum/DefaultProxyAdmin.json
  deployments/ethereum/JumpRateModelV2_base0bps_slope450bps_jump8000bps_kink8000bps.json
  deployments/ethereum/JumpRateModelV2_base0bps_slope500bps_jump8000bps_kink7500bps.json
  deployments/ethereum/JumpRateModelV2_base0bps_slope700bps_jump8000bps_kink8000bps.json
  deployments/ethereum/JumpRateModelV2_base0bps_slope750bps_jump8000bps_kink8000bps.json
  deployments/ethereum/JumpRateModelV2_base0bps_slope900bps_jump7500bps_kink7500bps.json
  deployments/ethereum/JumpRateModelV2_base0bps_slope900bps_jump7500bps_kink8000bps.json
  deployments/ethereum/JumpRateModelV2_base200bps_slope1500bps_jump30000bps_kink4500bps.json
  deployments/ethereum/JumpRateModelV2_base200bps_slope2000bps_jump30000bps_kink4500bps.json
  deployments/ethereum/JumpRateModelV2_base200bps_slope2000bps_jump30000bps_kink5000bps.json
  deployments/ethereum/PoolLens.json
  deployments/ethereum/PoolRegistry.json
  deployments/ethereum/PoolRegistry_Proxy.json
  deployments/ethereum/VTokenBeacon.json
  deployments/ethereum/VTokenImpl.json
  deployments/ethereum/VToken_vCRV_Curve.json
  deployments/ethereum/VToken_vUSDC_Core.json
  deployments/ethereum/VToken_vUSDT_Core.json
  deployments/ethereum/VToken_vWBTC_Core.json
  deployments/ethereum/VToken_vWETH_Core.json
  deployments/ethereum/VToken_vcrvUSD_Core.json
  deployments/ethereum/VToken_vcrvUSD_Curve.json
  deployments/ethereum/solcInputs/0e89febeebc7444140de8e67c9067d2c.json
  deployments/ethereum/solcInputs/0eb031abaf1d887b5163754422c7817f.json
  deployments/ethereum_addresses.json
  hardhat.config.ts
  helpers/deploymentConfig.ts
Labels: ethereum
