Repository VenusProtocol/isolated-pools, pull requests merged in 2025-01, with the labels that each got.

#465 [VEN-3017]: Add wUSDM to zkSync Core pool
  deploy/001-deploy-mock-tokens.ts
  deploy/009-deploy-vtokens.ts
  deployments/zksyncmainnet.json
  deployments/zksyncmainnet/JumpRateModelV2_base0bps_slope687bps_jump25000bps_kink8000bps.json
  deployments/zksyncmainnet/VToken_vwUSDM_Core.json
  deployments/zksyncmainnet/solcInputs/c84b0f085ad65b3aa38a5f0d3790c387.json
  deployments/zksyncmainnet_addresses.json
  deployments/zksyncsepolia.json
  deployments/zksyncsepolia/JumpRateModelV2_base0bps_slope687bps_jump25000bps_kink8000bps.json
  deployments/zksyncsepolia/MockUSDM.json
  deployments/zksyncsepolia/MockwUSDM.json
  deployments/zksyncsepolia/VToken_vwUSDM_Core.json
  deployments/zksyncsepolia/solcInputs/c84b0f085ad65b3aa38a5f0d3790c387.json
  deployments/zksyncsepolia_addresses.json
  hardhat.config.ts
  hardhat.config.zksync.ts
  helpers/deploymentConfig.ts
  helpers/deploymentUtils.ts
Labels: zkSync sepolia, zkSync

#468 [VEN-3024] Add gmETH and gmBTC markets in the Core Pool
  deployments/arbitrumone.json
  deployments/arbitrumone/VToken_vgmBTC-USDC_Core.json
  deployments/arbitrumone/VToken_vgmWETH-USDC_Core.json
  deployments/arbitrumone_addresses.json
  deployments/arbitrumsepolia.json
  deployments/arbitrumsepolia/JumpRateModelV2_base0bps_slope1500bps_jump25000bps_kink4500bps.json
  deployments/arbitrumsepolia/JumpRateModelV2_base0bps_slope300bps_jump45000bps_kink9000bps.json
  deployments/arbitrumsepolia/MockgmBTC.json
  deployments/arbitrumsepolia/MockgmETH.json
  deployments/arbitrumsepolia/VToken_vgmBTC-USDC_Core.json
  deployments/arbitrumsepolia/VToken_vgmWETH-USDC_Core.json
  deployments/arbitrumsepolia/solcInputs/3c20dc65cc123659b5918437b44f9306.json
  deployments/arbitrumsepolia_addresses.json
  helpers/deploymentConfig.ts
  yarn.lock
Labels: arbitrum sepolia, arbitrum one

#470 [VEN-3032] Add wsuperOETHb market in the Core pool
  deployments/basemainnet.json
  deployments/basemainnet/JumpRateModelV2_base0bps_slope900bps_jump30000bps_kink4500bps.json
  deployments/basemainnet/VToken_vwsuperOETHb_Core.json
  deployments/basemainnet/solcInputs/3c20dc65cc123659b5918437b44f9306.json
  deployments/basemainnet_addresses.json
  deployments/basesepolia.json
  deployments/basesepolia/MockwsuperOETHb.json
  deployments/basesepolia/VToken_vwsuperOETHb_Core.json
  deployments/basesepolia/solcInputs/338456d498a2526684d442357ddf6830.json
  deployments/basesepolia/solcInputs/3c20dc65cc123659b5918437b44f9306.json
  deployments/basesepolia_addresses.json
  helpers/deploymentConfig.ts
  package.json
  yarn.lock
Labels: base sepolia, base mainnet
