Repository VenusProtocol/isolated-pools, pull requests merged in 2025-03, with the labels that each got.

#494 [VEN-3074] Deployment files for wstETH on base and zksync
  deployments/basemainnet.json
  deployments/basemainnet/VToken_vwstETH_Core.json
  deployments/basemainnet/solcInputs/bf6504e8406cd8d7763a8de7cdacad9c.json
  deployments/basemainnet_addresses.json
  deployments/basesepolia.json
  deployments/basesepolia/MockwstETH.json
  deployments/basesepolia/VToken_vwstETH_Core.json
  deployments/basesepolia/solcInputs/bf6504e8406cd8d7763a8de7cdacad9c.json
  deployments/basesepolia_addresses.json
  deployments/zksyncmainnet.json
  deployments/zksyncmainnet/JumpRateModelV2_base0bps_slope900bps_jump30000bps_kink4500bps.json
  deployments/zksyncmainnet/VToken_vwstETH_Core.json
  deployments/zksyncmainnet/solcInputs/4891999ef4820941e6f6f9716556c887.json
  deployments/zksyncmainnet_addresses.json
  deployments/zksyncsepolia.json
  deployments/zksyncsepolia/JumpRateModelV2_base0bps_slope900bps_jump30000bps_kink4500bps.json
  deployments/zksyncsepolia/MockwstETH.json
  deployments/zksyncsepolia/VToken_vwstETH_Core.json
  deployments/zksyncsepolia/solcInputs/4891999ef4820941e6f6f9716556c887.json
  deployments/zksyncsepolia_addresses.json
  helpers/deploymentConfig.ts
Labels: zkSync sepolia, zkSync, base sepolia, base mainnet

#496 [VEN-3097]: add UNI Market in Core pool on Unichain
  deployments/unichainmainnet.json
  deployments/unichainmainnet/JumpRateModelV2_base0bps_slope1500bps_jump30000bps_kink3000bps.json
  deployments/unichainmainnet/VToken_vUNI_Core.json
  deployments/unichainmainnet_addresses.json
  deployments/unichainsepolia.json
  deployments/unichainsepolia/JumpRateModelV2_base0bps_slope1500bps_jump30000bps_kink3000bps.json
  deployments/unichainsepolia/MockUNI.json
  deployments/unichainsepolia/VToken_vUNI_Core.json
  deployments/unichainsepolia/solcInputs/bf6504e8406cd8d7763a8de7cdacad9c.json
  deployments/unichainsepolia_addresses.json
  hardhat.config.ts
  helpers/deploymentConfig.ts
Labels: unichain sepolia, unichain mainnet

#493 [VEN-3073]: Add zkETH market to the Core pool on zkSync
  contracts/test/Mocks/MockZkETHToken.sol
  deploy/001-deploy-mock-tokens.ts
  deployments/zksyncmainnet.json
  deployments/zksyncmainnet/VToken_vzkETH_Core.json
  deployments/zksyncmainnet_addresses.json
  deployments/zksyncsepolia.json
  deployments/zksyncsepolia/MockzkETH.json
  deployments/zksyncsepolia/VToken_vzkETH_Core.json
  deployments/zksyncsepolia/solcInputs/cbd7d015b59192a31a29df9f9e5e8a2c.json
  deployments/zksyncsepolia_addresses.json
  helpers/deploymentConfig.ts
Labels: zkSync sepolia, zkSync
